{% extends "base.html" %}

{% block title %}Products{% endblock %}

{% block body %}
    
    
<div class="d-flex justify-content-between mx-5 mb-2">
    <h1>Products</h1>
    <a class="btn btn-primary h-100 my-auto" href="add">Add Product</a>
</div>
    <div class="container">    
        <table class="table table-hover">
            {% if products == null %}
                <h3> No Data Found!!</h3>
            {% else %}
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Desc</th>
                <th>Price</th>
                <th>Current Stock</th>
                <th>Action</th>
            </tr>
            {% endif %}
            {% for data in products %}
                <tr>
                <td><img src="../../../resources/uploads/{{data.productImage}}" height="80px" width="80px"></td>                    
                <td>{{ data.productName }}</td>
                <td>{{ data.productShortDesc }}</td>
                <td>Rs.{{ data.productPrice }}</td>
                <td>{{ data.productStock }}</td>
                <td><a href="updateProductView/{{ data.productId}}" class="btn btn-dark" role="button">Edit</a>
                    <a href="delete-product/{{ data.productId}}" class="btn btn-danger" role="button">Delete</a></td></tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}