{% extends "base.html" %}

{% block title %}Update Product{% endblock %}

{% block body %}
    
<div class="container">
    <h2>Update Product</h2>
    <form class="form-horizontal" action="{{ base_url }}admin/product/update/{{ displayData.productId }}" method="POST">
      <fieldset>
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="txtProductName">Product Name</label>  
        <div class="col-md-4">
        <input id="txtProductName" name="txtProductName" value="{{ displayData.productName }}" type="text" placeholder="Name" class="form-control input-md">
          
        </div>
      </div>
      
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="txtProductPrice">Product Price</label>  
        <div class="col-md-2">
        <input id="txtProductPrice" value="{{ displayData.productPrice }}" name="txtProductPrice" type="text" placeholder="Price" class="form-control input-md">          
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="selectParent">Product Category</label>
        <div class="col-md-4">
          <select id="selectParent" name="selectCategory" class="form-control">
            <option selected disabled value=NULL>Product Category</option>
              {% for cat in category %}
                <option value="{{ cat.catId }}">{{ cat.catName}}</option>
              {% endfor %}
          </select>
        </div>
      </div>
      
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="txtShortDesc">Short Description</label>  
        <div class="col-md-4">
        <input id="txtShortDesc" value="{{ displayData.productShortDesc }}" name="txtShortDesc" type="text" placeholder="Short Description" class="form-control input-md">
          
        </div>
      </div>
      
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="txtStock">Stock</label>  
        <div class="col-md-2">
        <input id="txtStock" name="txtStock" value="{{ displayData.productStock }}" type="text" placeholder="Stock" class="form-control input-md">
          
        </div>
      </div>
      
      <!-- Textarea -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="txtDesc">Description</label>
        <div class="col-md-4">                     
          <textarea class="form-control" id="txtDesc" name="txtDesc">{{ displayData.productDesc }}</textarea>
        </div>
      </div>
      
      <!-- File Button --> 
      <div class="form-group">
        <label class="col-md-4 control-label" for="productImage">Product Image</label>
        <div class="col-md-4">
          <input id="productImage" name="productImage" class="input-file" type="file">
        </div>
      </div>
      
      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="btnAdd"></label>
        <div class="col-md-4">  
          <button id="btnAdd" name="btnAdd" class="btn btn-info">Update</button>
          <a id="btnAdd" href="../index" role="button" class="btn btn-info">Back</a>
        </div>
      </div>
      
      </fieldset>
      </form>
      
  </div>
    {% if view == true %}
        <div class="alert alert-success">
            <strong>Success!</strong> Post added successfully.
        </div>
    {% endif %}
{% endblock %}